p{
   background-color: white;
   color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    border: 2px solid black;
    margin: 15px;
    width: 250px;
    height: 200px;
    text-align: center;
}