div{
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
    border: 2px solid black;
  }

h1{
    color:black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
  display: flex;
  flex-wrap: wrap-reverse;
 }

.box {
  width: 200px; 
  height: 200px;
  background-color: lightblue; 
  margin: 5px; 
}
